#ball {
	position: absolute;
	display: none;
	width: 100px;
	height: 100px;
	background-color: transparent;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 10px;
	color: black;
	z-index: 1000;
	bottom: -50px;
	left: 50px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}