@use '../abstracts' as *;
h2 {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	left: 50%;
}
h2.dark-blue-text {
	-webkit-animation: blue-moveup 3s infinite ease-in;
	animation: blue-moveup 3s infinite ease-in;
	will-change: transform, text-shadow, -ms-transform, -webkit-transform;
}
h2:not(.dark-blue-text) {
	color: transparent;
	-webkit-text-stroke: 1px var(--white-color);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
@include keyframes(blue-moveup) {
	0% {
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		text-shadow: 0 0 var(--dark-blue-text-1);
	}
	50% {
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-shadow: 0 50px var(--dark-blue-text-2);
	}
	100% {
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		text-shadow: 0 0 var(--dark-blue-text-1);
	}
}
