@use '../abstracts' as *;
#ripple {
	-webkit-animation: ripple 0.5s ease-out;
	animation: ripple 0.5s ease-out;
	will-change: opacity, width, height, margin, border-width;
}
@include keyframes(ripple) {
	0% {
		opacity: 1;
		width: 0;
		height: 0;
		margin: 0;
		border-width: 1;
	}
	100% {
		opacity: 0;
		width: 10em;
		height: 10em;
		margin: -5em;
		border-width: 0;
	}
}
