@use '../abstracts' as *;
#theme-toggle {
    opacity: 0;
}
.switch {
    position: fixed;
    top: 3px;   
    z-index: 1;
    width: 60px;
    height: 34px;
}
.slider {
    border-radius: 34px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
}
.slider:before {
    border-radius: 50%;
    position: absolute;
    content: '\263E';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    color: silver;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 18px;
}
#theme-toggle:checked + .slider:before {
    content: '\2600';
    background-color: white;
    color: gold;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
