@use '../abstracts' as *;
#hero {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	@include mobile {
		padding: 0rem $default-font-size;
	}
	::-moz-selection {
		color: transparent !important;
		-webkit-text-fill-color: transparent;
	}
	::selection {
		color: transparent !important;
		-webkit-text-fill-color: transparent;
	}
	.hero-title {
		background-image: -webkit-gradient(linear, right top, left top, from(violet), color-stop(indigo), color-stop(blue), color-stop(green), color-stop(yellow), color-stop(orange), to(red));
		background-image: -o-linear-gradient(right, violet, indigo, blue, green, yellow, orange, red);
		background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
		-webkit-background-clip: text;
		background-clip: text;
		font-size: 5.6rem;
		font-weight: 700;
		// align hero text to left
		// text-align: left;
		@include mobile {
			text-align: center;
			font-size: 3rem;
			line-height: 1.5;
		}
	}
}