@use '../abstracts' as *;
#projects {
	color: var(--dark-blue-text);
	.project-wrapper {
		.row {
			:nth-child(odd) {
				-webkit-transform: rotate($angle) !important;
				-o-transform: rotate($angle) !important;
				-ms-transform: rotate($angle) !important;
				-moz-transform: rotate($angle) !important;
				transform: rotate($angle) !important;
			}
			:nth-child(even) {
				-webkit-transform: rotate(-$angle) !important;
				-o-transform: rotate(-$angle) !important;
				-ms-transform: rotate(-$angle) !important;
				-moz-transform: rotate(-$angle) !important;
				transform: rotate(-$angle) !important;
			}
			.cta-btn--hero {
				font-family: 'Symbola';
			}
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			@media screen and (min--moz-device-pixel-ratio: 0) {
				margin-bottom: 100px;
			}
			:nth-child(odd) {
				@media (min-width: 780px) {
					margin-bottom: 15rem;
				}
			}
			@include mobile {
				margin-bottom: 4rem;
			}
		}
		&__text {
			text-align: left;
			@include mobile {
				margin-bottom: 2.5rem;
			}
			&-title {
				font-weight: bold;
				margin-bottom: 2rem;
				font-size: $mid-font-size;
				@include mobile {
					font-size: 2rem;
				}
			}
		}
	}
}
