@use '../abstracts' as *;
#projects {
	color: $dark-blue-text;
	.project-wrapper {
		.row {
			.cta-btn--hero {
				font-family: 'SymbolaRegular';
			}
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			@-moz-document url-prefix() { // noqa: only for firefox
				margin-bottom: 100px;
			}
			:has(.even-projects) {
				@media (max-width: 75em) {
					margin-bottom: 20rem !important;
				}
				margin-bottom: 15rem;
			}
			:has(.odd-projects) {
				@media (max-width: 75em) {
					margin-bottom: 0 !important;
				}
			}
			@include mobile {
				margin-bottom: 4rem;
			}
		}
		&__text {
			text-align: left;
			@include mobile {
				margin-bottom: 2.5rem;
			}
			&-title {
				font-weight: bold;
				margin-bottom: 2rem;
				font-size: $mid-font-size;
				@include mobile {
					font-size: 2rem;
				}
			}
		}
	}
}
.odd-projects {
	-webkit-transform: rotate($angle) !important;
	-o-transform: rotate($angle) !important;
	-ms-transform: rotate($angle) !important;
	-moz-transform: rotate($angle) !important;
	transform: rotate($angle) !important;
}
.even-projects {
	-webkit-transform: rotate(-$angle) !important;
	-o-transform: rotate(-$angle) !important;
	-ms-transform: rotate(-$angle) !important;
	-moz-transform: rotate(-$angle) !important;
	transform: rotate(-$angle) !important;
}
