@use '../abstracts' as *;
#projects {
  color: $dark-blue-text;
  .project-wrapper {
    .row {
      justify-content: center;
      margin-bottom: 8rem;
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
    &__text {
      text-align: left;
      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }
      &-title {
        font-weight: bold;
        margin-bottom: 2rem;
        font-size: $mid-font-size;
        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }
  }
}