@media screen and (min-width: 0px) and (max-device-width: 780px) {
	#pc, span, .mobile-hide  {
		display: none !important;
	}
}
.mobile-articles {
	display: none;
}
@media screen and (max-device-width:780px) {
	.mobile-articles {
		display: block;
	}
}
