html {
  overflow-x: hidden;
  font-size: 62.5%;
}
::selection {
  font-size: 75%;
  color: red;
  background: transparent;
}
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
::-webkit-scrollbar
{
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}
